/* inconsolata-ultraexpanded-black */
@font-face {
	font-family: Inconsolata UltraExpanded;
	font-style: normal;
	font-weight: 900;
	src: local("Inconsolata UltraExpanded Black"), local("InconsolataUltraExpanded-Black"), url(inconsolata-ultraexpanded-black.woff2) format("woff2");
}
/* inconsolata-ultraexpanded-bold */
@font-face {
	font-family: Inconsolata UltraExpanded;
	font-style: normal;
	font-weight: 700;
	src: local("Inconsolata UltraExpanded Bold"), local("InconsolataUltraExpanded-Bold"), url(inconsolata-ultraexpanded-bold.woff2) format("woff2");
}
/* inconsolata-ultraexpanded-extrabold */
@font-face {
	font-family: Inconsolata UltraExpanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata UltraExpanded ExtraBold"), local("InconsolataUltraExpanded-ExtraBold"), url(inconsolata-ultraexpanded-extrabold.woff2) format("woff2");
}
/* inconsolata-ultraexpanded-extralight */
@font-face {
	font-family: Inconsolata UltraExpanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata UltraExpanded ExtraLight"), local("InconsolataUltraExpanded-ExtraLight"), url(inconsolata-ultraexpanded-extralight.woff2) format("woff2");
}
/* inconsolata-ultraexpanded-light */
@font-face {
	font-family: Inconsolata UltraExpanded;
	font-style: normal;
	font-weight: 300;
	src: local("Inconsolata UltraExpanded Light"), local("InconsolataUltraExpanded-Light"), url(inconsolata-ultraexpanded-light.woff2) format("woff2");
}
/* inconsolata-ultraexpanded-medium */
@font-face {
	font-family: Inconsolata UltraExpanded;
	font-style: normal;
	font-weight: 500;
	src: local("Inconsolata UltraExpanded Medium"), local("InconsolataUltraExpanded-Medium"), url(inconsolata-ultraexpanded-medium.woff2) format("woff2");
}
/* inconsolata-ultraexpanded-regular */
@font-face {
	font-family: Inconsolata UltraExpanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata UltraExpanded Regular"), local("InconsolataUltraExpanded-Regular"), url(inconsolata-ultraexpanded-regular.woff2) format("woff2");
}
/* inconsolata-ultraexpanded-semibold */
@font-face {
	font-family: Inconsolata UltraExpanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata UltraExpanded SemiBold"), local("InconsolataUltraExpanded-SemiBold"), url(inconsolata-ultraexpanded-semibold.woff2) format("woff2");
}

