/* inconsolata-expanded-black */
@font-face {
	font-family: Inconsolata Expanded;
	font-style: normal;
	font-weight: 900;
	src: local("Inconsolata Expanded Black"), local("InconsolataExpanded-Black"), url(inconsolata-expanded-black.woff2) format("woff2");
}
/* inconsolata-expanded-bold */
@font-face {
	font-family: Inconsolata Expanded;
	font-style: normal;
	font-weight: 700;
	src: local("Inconsolata Expanded Bold"), local("InconsolataExpanded-Bold"), url(inconsolata-expanded-bold.woff2) format("woff2");
}
/* inconsolata-expanded-extrabold */
@font-face {
	font-family: Inconsolata Expanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata Expanded ExtraBold"), local("InconsolataExpanded-ExtraBold"), url(inconsolata-expanded-extrabold.woff2) format("woff2");
}
/* inconsolata-expanded-extralight */
@font-face {
	font-family: Inconsolata Expanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata Expanded ExtraLight"), local("InconsolataExpanded-ExtraLight"), url(inconsolata-expanded-extralight.woff2) format("woff2");
}
/* inconsolata-expanded-light */
@font-face {
	font-family: Inconsolata Expanded;
	font-style: normal;
	font-weight: 300;
	src: local("Inconsolata Expanded Light"), local("InconsolataExpanded-Light"), url(inconsolata-expanded-light.woff2) format("woff2");
}
/* inconsolata-expanded-medium */
@font-face {
	font-family: Inconsolata Expanded;
	font-style: normal;
	font-weight: 500;
	src: local("Inconsolata Expanded Medium"), local("InconsolataExpanded-Medium"), url(inconsolata-expanded-medium.woff2) format("woff2");
}
/* inconsolata-expanded-regular */
@font-face {
	font-family: Inconsolata Expanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata Expanded Regular"), local("InconsolataExpanded-Regular"), url(inconsolata-expanded-regular.woff2) format("woff2");
}
/* inconsolata-expanded-semibold */
@font-face {
	font-family: Inconsolata Expanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata Expanded SemiBold"), local("InconsolataExpanded-SemiBold"), url(inconsolata-expanded-semibold.woff2) format("woff2");
}

