/* inconsolata-extracondensed-black */
@font-face {
	font-family: Inconsolata ExtraCondensed;
	font-style: normal;
	font-weight: 900;
	src: local("Inconsolata ExtraCondensed Black"), local("InconsolataExtraCondensed-Black"), url(inconsolata-extracondensed-black.woff2) format("woff2");
}
/* inconsolata-extracondensed-bold */
@font-face {
	font-family: Inconsolata ExtraCondensed;
	font-style: normal;
	font-weight: 700;
	src: local("Inconsolata ExtraCondensed Bold"), local("InconsolataExtraCondensed-Bold"), url(inconsolata-extracondensed-bold.woff2) format("woff2");
}
/* inconsolata-extracondensed-extrabold */
@font-face {
	font-family: Inconsolata ExtraCondensed;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata ExtraCondensed ExtraBold"), local("InconsolataExtraCondensed-ExtraBold"), url(inconsolata-extracondensed-extrabold.woff2) format("woff2");
}
/* inconsolata-extracondensed-extralight */
@font-face {
	font-family: Inconsolata ExtraCondensed;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata ExtraCondensed ExtraLight"), local("InconsolataExtraCondensed-ExtraLight"), url(inconsolata-extracondensed-extralight.woff2) format("woff2");
}
/* inconsolata-extracondensed-light */
@font-face {
	font-family: Inconsolata ExtraCondensed;
	font-style: normal;
	font-weight: 300;
	src: local("Inconsolata ExtraCondensed Light"), local("InconsolataExtraCondensed-Light"), url(inconsolata-extracondensed-light.woff2) format("woff2");
}
/* inconsolata-extracondensed-medium */
@font-face {
	font-family: Inconsolata ExtraCondensed;
	font-style: normal;
	font-weight: 500;
	src: local("Inconsolata ExtraCondensed Medium"), local("InconsolataExtraCondensed-Medium"), url(inconsolata-extracondensed-medium.woff2) format("woff2");
}
/* inconsolata-extracondensed-regular */
@font-face {
	font-family: Inconsolata ExtraCondensed;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata ExtraCondensed Regular"), local("InconsolataExtraCondensed-Regular"), url(inconsolata-extracondensed-regular.woff2) format("woff2");
}
/* inconsolata-extracondensed-semibold */
@font-face {
	font-family: Inconsolata ExtraCondensed;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata ExtraCondensed SemiBold"), local("InconsolataExtraCondensed-SemiBold"), url(inconsolata-extracondensed-semibold.woff2) format("woff2");
}

