/* inconsolata-semiexpanded-black */
@font-face {
	font-family: Inconsolata SemiExpanded;
	font-style: normal;
	font-weight: 900;
	src: local("Inconsolata SemiExpanded Black"), local("InconsolataSemiExpanded-Black"), url(inconsolata-semiexpanded-black.woff2) format("woff2");
}
/* inconsolata-semiexpanded-bold */
@font-face {
	font-family: Inconsolata SemiExpanded;
	font-style: normal;
	font-weight: 700;
	src: local("Inconsolata SemiExpanded Bold"), local("InconsolataSemiExpanded-Bold"), url(inconsolata-semiexpanded-bold.woff2) format("woff2");
}
/* inconsolata-semiexpanded-extrabold */
@font-face {
	font-family: Inconsolata SemiExpanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata SemiExpanded ExtraBold"), local("InconsolataSemiExpanded-ExtraBold"), url(inconsolata-semiexpanded-extrabold.woff2) format("woff2");
}
/* inconsolata-semiexpanded-extralight */
@font-face {
	font-family: Inconsolata SemiExpanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata SemiExpanded ExtraLight"), local("InconsolataSemiExpanded-ExtraLight"), url(inconsolata-semiexpanded-extralight.woff2) format("woff2");
}
/* inconsolata-semiexpanded-light */
@font-face {
	font-family: Inconsolata SemiExpanded;
	font-style: normal;
	font-weight: 300;
	src: local("Inconsolata SemiExpanded Light"), local("InconsolataSemiExpanded-Light"), url(inconsolata-semiexpanded-light.woff2) format("woff2");
}
/* inconsolata-semiexpanded-medium */
@font-face {
	font-family: Inconsolata SemiExpanded;
	font-style: normal;
	font-weight: 500;
	src: local("Inconsolata SemiExpanded Medium"), local("InconsolataSemiExpanded-Medium"), url(inconsolata-semiexpanded-medium.woff2) format("woff2");
}
/* inconsolata-semiexpanded-regular */
@font-face {
	font-family: Inconsolata SemiExpanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata SemiExpanded Regular"), local("InconsolataSemiExpanded-Regular"), url(inconsolata-semiexpanded-regular.woff2) format("woff2");
}
/* inconsolata-semiexpanded-semibold */
@font-face {
	font-family: Inconsolata SemiExpanded;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata SemiExpanded SemiBold"), local("InconsolataSemiExpanded-SemiBold"), url(inconsolata-semiexpanded-semibold.woff2) format("woff2");
}

