/* inconsolata-ultracondensed-black */
@font-face {
	font-family: Inconsolata UltraCondensed;
	font-style: normal;
	font-weight: 900;
	src: local("Inconsolata UltraCondensed Black"), local("InconsolataUltraCondensed-Black"), url(inconsolata-ultracondensed-black.woff2) format("woff2");
}
/* inconsolata-ultracondensed-bold */
@font-face {
	font-family: Inconsolata UltraCondensed;
	font-style: normal;
	font-weight: 700;
	src: local("Inconsolata UltraCondensed Bold"), local("InconsolataUltraCondensed-Bold"), url(inconsolata-ultracondensed-bold.woff2) format("woff2");
}
/* inconsolata-ultracondensed-extrabold */
@font-face {
	font-family: Inconsolata UltraCondensed;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata UltraCondensed ExtraBold"), local("InconsolataUltraCondensed-ExtraBold"), url(inconsolata-ultracondensed-extrabold.woff2) format("woff2");
}
/* inconsolata-ultracondensed-extralight */
@font-face {
	font-family: Inconsolata UltraCondensed;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata UltraCondensed ExtraLight"), local("InconsolataUltraCondensed-ExtraLight"), url(inconsolata-ultracondensed-extralight.woff2) format("woff2");
}
/* inconsolata-ultracondensed-light */
@font-face {
	font-family: Inconsolata UltraCondensed;
	font-style: normal;
	font-weight: 300;
	src: local("Inconsolata UltraCondensed Light"), local("InconsolataUltraCondensed-Light"), url(inconsolata-ultracondensed-light.woff2) format("woff2");
}
/* inconsolata-ultracondensed-medium */
@font-face {
	font-family: Inconsolata UltraCondensed;
	font-style: normal;
	font-weight: 500;
	src: local("Inconsolata UltraCondensed Medium"), local("InconsolataUltraCondensed-Medium"), url(inconsolata-ultracondensed-medium.woff2) format("woff2");
}
/* inconsolata-ultracondensed-regular */
@font-face {
	font-family: Inconsolata UltraCondensed;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata UltraCondensed Regular"), local("InconsolataUltraCondensed-Regular"), url(inconsolata-ultracondensed-regular.woff2) format("woff2");
}
/* inconsolata-ultracondensed-semibold */
@font-face {
	font-family: Inconsolata UltraCondensed;
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata UltraCondensed SemiBold"), local("InconsolataUltraCondensed-SemiBold"), url(inconsolata-ultracondensed-semibold.woff2) format("woff2");
}

